/*
    DEVELOPER: J.A. Runnells
       COURSE: CIS-206-R11
       BRANCH: main
         FILE: custom_form.css

*/
/* FORM */
#holder {
  background-color: var(--bg-color-div-holder);
  border-radius: 25px;
  /* opacity: 0.9; */
  margin-top: 5rem;
}

#random_title {
  font-family: var(--font-family-title);
}

.info-form-caption {
  margin: 25px 0;
  font-family: var(--font-family-caption);
  font-size: var(--font-size-caption-form);
  border-bottom: 2px solid var(--color-table-row-header);
}

.number {
  font-family: var(--font-family-numbers);
}

#form_process {
  margin: 1rem;
  padding: var(--padding-form);
}

#form_process label {
  font-family: var(--font-family-label);
  font-size: var(--font-size-label);
}

/* #form_process caption { font-size: var(--font-size-caption-form); } */

th#required {
  font-family: var(--font-family-required);
  color: var(--color-required);
  font-size: var(--font-size-required);
  font-weight: var(--font-weight-required-th);
  font-style: var(--font-style-required);
}
span.required {
  font-family: var(--font-family-required);
  color: var(--color-required);
  font-size: var(--font-size-required);
  font-weight: var(--font-weight-required-span);
  font-style: var(--font-style-required);
}
span.required:not(last-of-type) {
  font-size: 1.5rem;
}
span.required:last-of-type {
  text-align: right;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  margin: 0.25rem 0;
  width: 10rem;
  height: 1.5rem;
  font-family: var(--font-family-input-text);
  font-size: var(--font-size-9);
  text-align: var(--input-txt-align);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  background-color: var(--bg-color-input-focus);
  color: var(--color-input-focus);
}

#form_process td:first-child:not(button) {
  padding: var(--padding-not-button);
}

#form_process button {
  margin: var(--margin-button);
  font-size: var(--font-size-button-form);
  padding: var(--padding-button);
  width: var(--width-button);
  border-radius: var(--border-radius-btn);
  color: var(--color-form_btn);
  text-align: var(--txt-align-button);
  cursor: pointer;
}

/* #btns-form { } */

#form_process button[type="submit"] {
  background-color: var(--bg-color-btn-submit);
  border: 0;
  box-shadow: 0 0 0 2px var(--bg-color-div-holder),
    0 0 0 7px var(--bg-color-btn-submit);
}

#form_process button[type="submit"]:hover {
  background-color: var(--color-const-black);
  /* letter-spacing: 0.25em; */
}

#form_process button[type="reset"] {
  background-color: var(--bg-color-btn-reset);
  border: 0;
  box-shadow: 0 0 0 2px var(--bg-color-div-holder),
    0 0 0 7px var(--bg-color-btn-reset);
}

#form_process button[type="reset"]:hover {
  background-color: var(--bg-color-btn-submit);
  /* letter-spacing: 0.25em; */
}

button.styled:hover {
  letter-spacing: 0.25em;
}
