/*
https://source.unsplash.com
*/

@import 'custom_props_old.css';
@import 'custom_form_old.css';

/* GENERIC RESETS */
* { margin: 0; padding: 0; box-sizing: border-box; }
*::before,*::after { box-sizing: border-box; }
html > * {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
a { text-decoration: none; color: inherit; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
ul { list-style: none; }
body { overflow: hidden; }
img,video { height: auto; max-width: 100%; }
.clearfix::before,.clearfix::after { content: " "; display: table; }
.clearfix::after { clear: both; }
/* END GENERIC RESETS */

/* STYLING */
.flex { display: flex; }
header {
  position: relative;
  margin: 10px;
  padding: 5px;
  font-family: monospace;
  align-items: center;
  /* justify-content: center; */
  /* align-content: center; */
  background-color: transparent;
  z-index: 1000;
}
.logo img {
  width: 65%;
  height: 65%;
}
nav {
  width: 80%;
  margin: 0 auto;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* align-content: center; */
}
nav > ul {
  font-family: inherit;
  font-size: 1.25rem;
  color: var(--clr-blk);
  justify-content: space-between;
  /* align-items: center; */
  /* align-content: center; */
}
nav a:hover { color: var(--clr-blu); }
.content {
  /* 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  */
  font-family: sans-serif;
  color: whitesmoke;
  height: 100vh;
  width: 100vw; /* width: 100%; */
  
  background-image: url(https://source.unsplash.com/1600x900/?soccer,soccer-team,soccer-ball,soccer-field,soccer-coach,soccer-goal);
  background-color: rgba(95, 128, 95, 0.8);
  background-blend-mode: multiply;
  background-size: cover;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.content > h2 {
  font-size: 4rem;
}
.content p {
  font-size: 2rem;
}
.btn {
  margin: 25px auto;
}
.btn-enter {
  border-radius: 15px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

  background-color: var(--clr-wht);
  color: var(--clr-blk);
  border: 2px solid var(--clr-blu);
}
.btn-enter:hover {
  background-color: var(--clr-blu);
  color: var(--clr-wht);
  border: 2px solid var(--clr-wht);
  opacity: 0.7;
}
