/*
    DEVELOPER: J.A. Runnells
       COURSE: CIS-206-R11
       BRANCH: main
         FILE: custom.css

*/
/* STYLE IMPORTS */
@import '../../styles/basics.css';
@import '../../styles/fonts.css';
@import '../../styles/vars.css';

body { background-color: var(--bg-color-body); }

#holder { background-color: var(--bg-color-div-holder); }

#random_title { font-family: var(--font-family-title); }

#form_title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-title-form);
    line-height: var(--line-height-title-form);
}

.number { font-family: var(--font-family-numbers); }

#form_process { padding: var(--padding-form); }

#form_process label {
    font-family: var(--font-family-label);
    font-size: var(--font-size-label);
}

#form_process caption { font-size: var(--font-size-caption-form); }

th#required {
    font-family: var(--font-family-required);
    color: var(--color-required);
    font-size: var(--font-size-required);
    font-weight: var(--font-weight-required-th);
    font-style: var(--font-style-required);
}
span.required {
    font-family: var(--font-family-required);
    color: var(--color-required);
    font-size: var(--font-size-required);
    font-weight: var(--font-weight-required-span);
    font-style: var(--font-style-required);
}

input[type=text] {     
    font-family: var(--font-family-input-text);
    font-size: var(--font-size-9);
    text-align: var(--input-txt-align); 
}

input[type=text]:focus {
    background-color: var(--bg-color-input-focus);
    color: var(--color-input-focus);
}

#form_process td:first-child:not(button) {
    padding: var(--padding-not-button);
}

#form_process button {
    margin: var(--margin-button);
    font-size: var(--font-size-button-form);
    padding: var(--padding-button);
    width: var(--width-button);
    border-radius: var(--border-radius-btn);
    color: var(--color-form_btn);
    text-align: var(--txt-align-button);
    cursor: pointer;    
}

#form_process button[type='submit'] {
    background-color: var(--bg-color-btn-submit);
    border: 0;
    box-shadow:
        0 0 0 2px var(--bg-color-div-holder),
        0 0 0 7px var(--bg-color-btn-submit);
}

#form_process button[type='reset'] {
    background-color: var(--bg-color-btn-reset);
    border: 0;
    box-shadow:
        0 0 0 2px var(--bg-color-div-holder),
        0 0 0 7px var(--bg-color-btn-reset);
}

#table_output {
    width: var(--table-output-width);
	margin: var(--table-output-margin);
    padding-left: var(--table-output-padding-left);;
    border-collapse: collapse;
}

#table_output td {
    font-family: var(--font-family-data);
    font-size: var(--font-size-label);
    padding: var(--padding-td-output);
    border: var(--border-size) var(--border-line-style-s) var(--bg-color-table-hover);
}

#table_output tr:nth-child(odd){ background-color: var(--bg-color-table-rows-alt); }

#table_output tr:hover { background-color: var(--bg-color-table-hover); }

#table_output tr td:first-child{
    background-color: var(--bg-color-table-row-header);
    border-color: var(--bg-color-table-row-header);
    color: var(--color-table-row-header);
    text-align: var(--txt-align-row-header);
    padding-left: var(--padding-tr);
    padding-right: var(--padding-tr);
}
#table_output tr td:last-child{
	text-align: var(--txt-align-row-data);
    padding-left: var(--padding-tr);
    padding-right: var(--padding-tr);
}

#algorithm_used {
    font-family: monospace;
    font-size: var(--font-size-9);
}

.nav_link {
    font-family: var(--font-family-anchor);
    text-decoration: none;
}

hr.title {
    border: var(--ln-width-hr-title) var(--border-line-style-d) var(--color-const-green-basics);
    border-radius: var(--border-radius-hr);
    width: var(--width-hr-title);
}

hr.algorithm {
    border: var(--ln-width-hr-algorithm) var(--border-line-style-d) var(--color-const-green-basics);
    border-radius: var(--border-radius-hr);
    width: var(--width-hr-algorithm);
}