/*
    DEVELOPER: J.A. Runnells
       COURSE: CIS-206-R11
       BRANCH: main
         FILE: custom.css

*/
/* STYLE IMPORTS */
@import '../../styles/basics.css';
@import '../../styles/fonts.css';
@import '../../styles/vars.css';

body { background-color: var(--bg-color-body); }

#holder { background-color: var(--bg-color-div-holder); }

#holder.section__styled { border-radius: 25px; }

#random_title { font-family: var(--font-family-title); }

#form_title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-title-form);
    line-height: var(--line-height-title-form);
    color: #333;
    letter-spacing: 0.75rem;
    font-variant: small-caps;
}

#form_title.players {
    margin: 0.5rem 0 1rem 0;
}

/* .error { height: 25px; } */
.form_subtitle {
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.error, .form_subtitle {
    font-family: var(--font-family-required);
    color: #900;
}

.error {
    width: 450px;
    margin: 0 auto;
    background-color: rgba(255, 48, 48, 0.35);
    color: rgba(153, 0, 0, 0.98);
    border-radius: 10px;
    padding: 10px 5px;
    transition: all 1s ease;
}

.number { font-family: var(--font-family-numbers); }

#form_process { padding: var(--padding-form); }

#form_process label {
    font-family: var(--font-family-label);
    font-size: var(--font-size-label);
}

#form_process caption { font-size: var(--font-size-caption-form); }

th#required {
    font-family: var(--font-family-required);
    color: var(--color-required);
    font-size: var(--font-size-required);
    font-weight: var(--font-weight-required-th);
    font-style: var(--font-style-required);

    font-size: small;
}
span.required {
    font-family: var(--font-family-required);
    color: var(--color-required);
    font-size: var(--font-size-required);
    font-weight: var(--font-weight-required-span);
    font-style: var(--font-style-required);
}

input[type=text] {     
    font-family: var(--font-family-input-text);
    font-size: var(--font-size-9);
    text-align: var(--input-txt-align); 
    border-radius: 6px;
    height: 1.5rem;
    background-color: rgb(245, 245, 245);
}

input[type=text]:focus,
input[type=number]:focus {
    background-color: var(--bg-color-input-focus);
    color: var(--color-input-focus);
    outline: none;
}

input[type=number] {
    width: 4rem;
    height: 1.25rem;
    text-align: center;
}

#form_process td:first-child:not(button) {
    padding: var(--padding-not-button);
}

#form_process button {
    margin: var(--margin-button);
    font-size: var(--font-size-button-form);
    padding: var(--padding-button);
    width: var(--width-button);
    border-radius: var(--border-radius-btn);
    color: var(--color-form_btn);
    text-align: var(--txt-align-button);
    cursor: pointer;
    outline: none;
}

#form_process button[type='submit'],
#form_process button[type='submit'].btn-submit {
    background-color: var(--bg-color-btn-submit);
    border: 0;
    box-shadow:
        0 0 0 2px var(--bg-color-div-holder),
        0 0 0 7px var(--bg-color-btn-submit);
}

#form_process button[type='reset'],
#form_process button[type='submit'].btn-clr,
#form_process button[type='button'].btn-clr {
    background-color: var(--bg-color-btn-reset);
    border: 0;
    box-shadow:
        0 0 0 2px var(--bg-color-div-holder),
        0 0 0 7px var(--bg-color-btn-reset);
}

button.styled {
    letter-spacing: 0.1em;
}

button.styled:hover {
    letter-spacing: 0.25em;
    opacity: 0.8;
}

#table_output {
    width: var(--table-output-width);
	margin: var(--table-output-margin);
    padding-left: var(--table-output-padding-left);;
    border-collapse: collapse;
}

#table_output td {
    font-family: var(--font-family-data);
    font-size: var(--font-size-label);
    padding: var(--padding-td-output);
    border: var(--border-size) var(--border-line-style-s) var(--bg-color-table-hover);
}

td.tix {
    width: 15ch;
}

#table_output tr:nth-child(odd){ background-color: var(--bg-color-table-rows-alt); }

#table_output tr:hover { background-color: var(--bg-color-table-hover); }

#table_output tr td:first-child {
    background-color: var(--bg-color-table-row-header);
    border-color: var(--bg-color-table-row-header);
    color: var(--color-table-row-header);
    text-align: var(--txt-align-row-header);
    padding-left: var(--padding-tr);
    padding-right: var(--padding-tr);
    width: 8rem;
}

#table_output.players tr td:first-child {
    width: auto;
}

#table_output tr td:last-child{
	text-align: var(--txt-align-row-data);
    padding-left: var(--padding-tr);
    padding-right: var(--padding-tr);
}

#algorithm_used {
    font-family: monospace;
    font-size: var(--font-size-9);
}

.nav_link {
    font-family: var(--font-family-anchor);
    text-decoration: none;
}

hr.title {
    border: var(--ln-width-hr-title) var(--border-line-style-d) var(--color-const-green-basics);
    border-radius: var(--border-radius-hr);
    width: var(--width-hr-title);
}

hr.algorithm {
    border: var(--ln-width-hr-algorithm) var(--border-line-style-d) var(--color-const-green-basics);
    border-radius: var(--border-radius-hr);
    width: var(--width-hr-algorithm);
}
