///
///    DEVELOPER: J.A. Runnells
///       COURSE: CIS-206-R11
///       BRANCH: main
///         FILE: _colors.scss
///

/// BEM:
///   .{Block}__{Element}
///   .{Block}__{Element}--{Modifier}
///   .{Block}--{Modifier}
///

$debug:rgba(12, 86, 146, 1);
$dark--bg: rgba(34,34,34,1);

$body--bg:rgba(10,10, 10, 0.9);
$h1:rgba(75, 100, 255, 0.8);
$h2:rgba(175, 100, 55, 0.8);
$p:rgba(164, 64, 134, 0.8);
$a: rgba(220, 20, 60, 1);
$a--hover: rgba(0, 206, 209, 1);
$clr--01: rgba(218, 165, 32, 1);
$clr--02: rgba(205, 92, 92, 1);
$clr--03: rgba(65, 105, 225, 1);
$clr--04: rgba(221, 160, 221, 1);
$clr--05: rgba(46, 139, 87, 1);

/// COLOR COMBOS **********************
$green_new_01: #436b51;
$blue_new_01: #43556b;
$blue_new_02: #09578c;
/// COMBO ONE *******************
  /// COMPLEMENTARY *************
  $combo_1-1-1: #3d4352;
  $combo_1-1-2: #524c3d;
  /// SPLIT COMPLEMENTARY *******
  $combo_1-2-1: $combo_1-1-1;
  $combo_1-2-2: #503d52;
  $combo_1-2-3: #4b523d;
  /// TRIADIC ********************
  $combo_1-3-1: $combo_1-1-1;
  $combo_1-3-2: #523d43;
  $combo_1-3-3: #43523d;
  /// TETRADIC *******************
  $combo_1-4-1: $combo_1-1-1;
  $combo_1-4-2: #523d4d;
  $combo_1-4-3: #524c3d;
  $combo_1-4-4: #3d5241;

