//
//    DEVELOPER: J.A. Runnells
//       COURSE: CIS-206-R11
//       BRANCH: main
//         FILE: _index.scss
//

// BEM:
//   .{Block}__{Element}
//   .{Block}__{Element}--{Modifier}
//   .{Block}--{Modifier}
//

@use 'reset';
@use 'print';
@use 'colors' as c;
@use 'fonts' as f;
@use 'debug';

$mobile: 600px;
$tablet: 800px;
$desktop: 1080px;

/// Get font weight by key (bold, etc.)
///
/// @param {string} $weight-name - reg(200), med(400), bold(700)
/// @return {number} returns `$weight-name` as valid CSS weight number value
@function weight($weight-name) {
  @return map-get($map: f.$font-weights, $key: $weight-name);
}

@function fontFam($family-name) {
  @return map-get($map: f.$families, $key: $family-name);
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($color: c.$dark--bg, $amount: 80%);
    // color: darken($color: $text-color, $amount: 80%);
  }
}

// MEDIA MIXINS
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

.dark {
  @include theme($light-theme: false);
  // @include theme($light-theme: true);
}

.light {
  @include theme($light-theme: true);
  // @include theme($light-theme: true);
}

.body.dark {
  color: whitesmoke;
}

.nav {
  display: flex;
  background-color: c.$clr--05;
  padding: 20px 0;
  font-family: fontFam(jet);
  // position: fixed;
  // position: absolute;
  position: relative;
  width: 100%;
  z-index: 999;
  
  #{&}__navbar {
    @include flexCenter(row);
    justify-content: flex-end;
    
    & a {
      color: c.$a;
      padding: 20px 40px;
      background-color: white;

      &:hover {
        // color: c.$a;
        background-color: c.$clr--01;
      }
    }
  }
}

main {
  position: absolute;
}
