@charset "UTF-8";

$color-bg-main: #111;
$color-main: whitesmoke;
$color-verify: goldenrod;
$color-error: red;
$font-fam-main: 'JetBrains Mono', monospace;
$font-weight-bold: 700;
$font-size-main: 0.85rem;

body.error-output {
  background: $color-bg-main;
  color: $color-main;
  font-family: $font-fam-main;
  font-size: $font-size-main;
  margin: 25px;
  padding: 10px;

  .error {
    color: $color-error;
  }
  .bold {
    font-weight: $font-weight-bold;
  }
  .verify {
    color: $color-verify;
    font-style: italic;
  }

  .error.bold,
  h2.error {
    text-transform: uppercase;
  }
}
