@charset "UTF-8";

body {
    --color-query: steelblue;

    background: rgba(17, 17, 17,0.9);
    overflow: hidden;
}
main.container {
    --box-shadow-form: 0 0 10px 5px rgba(64, 64, 64, 0.9), 0 0 10px 5px rgba(15, 139, 21, 0.89);
    --color-white: whitesmoke;
    --color-success: limegreen;
    --color-keyword: blue;

    width: 100vw;
    height: 100vh;
}
.main__section--query-confirm {
    height: 20%;
    width: 100%;
    color: var(--color-query);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__section--query-confirm pre { color: var(--color-white); }
section.output_table_desc {
    margin: 2rem auto;
    /*height: 80%;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.output_table_desc p {
    color: var(--color-white);
    font: 1.15rem monospace;
    letter-spacing: 0.1rem;
}
.describe {
    margin: 20px;
    padding: 20px;
    background: darkgray;
    width: fit-content;
    border-radius: 10px;
    box-shadow: var(--box-shadow-form);
}
.describe .desc_tbl table,
.describe .desc_tbl td,
.describe .desc_tbl th {
    border: 1px solid black;
}
.describe .desc_tbl table {
    border-collapse: collapse;
    font: 0.85rem 'JetBrains Mono', monospace;
}
.describe .desc_tbl td,
.describe .desc_tbl th {
    padding: 5px;
}
.describe .query {
    margin: 5px;
    padding: 0 5px 15px 5px;
}
.describe .query .keyword {
    color: var(--color-keyword);
    font-weight: 700;
}
.describe .desc_tbl thead {
    background: slategray;
    color: var(--color-white);
}
.describe .desc_tbl tbody {
    background: var(--color-white);
}
.success {
    font-weight: 700;
    color: var(--color-success);
}
.error-signup {
    display: flex;
    justify-content: center;
    height: 10%;
    align-items: center;
    align-content: center;
    font: 2.5rem monospace;
    color: var(--color-white);
    border-radius: 1rem;
    background: rgba(139, 0, 0, 0.67);
    width: max-content;
    margin: 10px auto;
    padding: 1rem 3rem;
    box-shadow: 0 0 10px 5px rgba(60, 53, 53, 0.9), 0 0 10px 5px rgba(159, 31, 31, 0.94);
}
.btn.form-reset {
    padding: 0.5rem;
    background: rgb(211, 211, 211);
    border: none;
    border-radius: 10px;
}
.btn.form-reset:hover {
    color: rgb(220, 20, 60);
    letter-spacing: 0.05rem;
}
.record-added-signup {
    display: flex;
    flex-direction: row;
    font: 1.5rem monospace;
    color: var(--color-white);
    justify-content: center;
    margin: 0.25rem auto;
    width: max-content;
    height: max-content;
    background: var(--color-query);
    padding: 0.5rem 1.75rem;
    border-radius: 2.5rem;
    box-shadow: 0 0 10px 5px rgba(60, 53, 53, 0.9), 0 0 10px 5px var(--color-query);
}
.record-added-signup p {
    margin: 12px auto;
    font: 1.5rem monospace;
    color: var(--color-white);
}
.record-added-signup p:first-child {
    padding: 1rem 0.5rem 1rem 1rem;;
}
.record-added-signup p:last-child {
    padding: 1rem 1rem 1rem 0.5rem;
}
