@charset "UTF-8";

/* GENERIC RESETS */
* { margin: 0; padding: 0; box-sizing: border-box; }
*::before,*::after { box-sizing: border-box; }
html > * {
    border: 0;
    /*font-size: 100%;*/
    font: 100% inherit;
    vertical-align: baseline;
    line-height: 1.15;
}
a { text-decoration: none; color: inherit; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
ul { list-style: none; }
body { overflow: hidden; }
img,video { height: auto; max-width: 100%; }
.clearfix::before,.clearfix::after { content: " "; display: table; }
.clearfix::after { clear: both; }
/* END GENERIC RESETS */

body {
    /* COLORS */
    --bg-color-input-focus: rgb(210, 226, 249);
    --bg-color-body: rgb(112, 128, 144);
    --color-input-focus: rgb(25, 25, 112);
    --color-white: rgb(245, 245, 245);
    --color-black: rgb(0, 0, 0);
    --color-black-dark: rgb(33, 36, 38);
    --color-black-light: rgb(35, 42, 50);
    --color-btn-red: rgb(244, 67, 54);
    --color-btn-gray: rgb(85, 85, 85);
    --color-btn-blue: rgb(0, 140, 186);
    /*--color-btn-green: rgb(76, 175, 80);*/
    --color-btn-green: rgb(46, 182, 51);
    --color-bg-green: rgba(46, 139, 87,0.95);
    --color-bg-error: rgba(255, 48, 48, 0.35);
    --color-error: rgba(153, 0, 0, 0.98);

    /* SHADOWS */
    --box-shadow-form: 0 0 10px 5px rgba(0,0,0,0.2), 0 0 10px 5px rgba(0,0,0,0.19);
    --box-shadow-buy-tix: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /* TRANSITIONS */
    --trans-error: all 1s ease;

    /* NAV BAR PROPS ******************************** */
    --background:  rgba(66, 90, 136, 1);
    --clr-font: rgba(240, 240, 240, 1);
    --a-hover-before: rgba(66, 136, 98, 1);
    --btn-maps-bg: rgba(66, 136, 97, 1);
    --btn-maps-bg-hover: rgba(66, 136, 97, 0.6);
    --btn-maps-clr-hover: rgba(200, 200, 200, 1);

    background: var(--bg-color-body) url(../../ashland/dist/assets/img/background_ball.jpg);
    background-size: cover;
    color: var(--color-white);
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    overflow: hidden;
}

/* NAVIGATION STYLING ********************************************************** */
.header__navbar--styled {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 4rem;
}

/* gain focus; tabbable */
.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(173, 216, 230, 0.75);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    /* text-align: left; */
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.header__logo--styled {
    margin: 0.75em 0;
    outline: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: rgba(51, 51, 51, 1);
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/* FORM STYLING **************************************************************** */
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
}

#form_signup {
    /*min-width: 480px;*/
    /*min-height: 660px;*/
    font-family: monospace;
}

#form_signup table { background-color: var(--color-bg-green); }

caption {
    margin-bottom: 2rem;
    padding: 15px 35px;
    border: 3px solid var(--color-white);
    border-radius: 15px;
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

label { margin-right: 0.5rem; }

.required { margin: 0 2px; }

.btns_action { margin-top: 1rem; }

input[type=text],
input[type=date] {
    font-family: monospace;
    font-size: 0.85em;
    text-align: center;
    border-radius: 6px;
    height: 1.5rem;
    width: 10rem;
    background-color: var(--color-white);
    margin: 2px 0;
}

input[type=text]:focus,
input[type=date]:focus {
    background-color: var(--bg-color-input-focus);
    color: var(--color-input-focus);
    outline: none;
    -webkit-box-shadow: var(--box-shadow-form);
    box-shadow: var(--box-shadow-form);
    -webkit-transform: translate(-10%) scale(1.15);
    -ms-transform: translate(-10%) scale(1.15);
    transform: translate(-6%) scale(1.15);
    text-align: left;
    padding: 5px 5px 5px 20px;
}

.signup table {
    border-collapse: collapse;
    border: 1px solid var(--color-white);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px;
}

td:first-of-type { text-align: right; }

/* BUTTONS */
.btns_action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn,
.btn-db-err {
    border: none;
    border-radius: 15px;
    color: var(--color-white);
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 0.5rem;*/
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn:hover,
.btn-db-err:hover {
    -webkit-box-shadow: var(--box-shadow-form);
    box-shadow: var(--box-shadow-form);
    letter-spacing: 2px;
}

.btn-submit {
    background-color: var(--color-btn-blue);
    color: var(--color-white);
    border: 2px solid var(--color-white);
}

.btn-submit:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    border: 2px solid var(--color-btn-blue);
}

.btn-clr {
    background-color: var(--color-btn-gray);
    color: var(--color-white);
    border: 2px solid var(--color-white);
}

.btn-clr:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    border: 2px solid var(--color-btn-gray);
}

.btn-db-conn{
    margin-right: 5px;
    background-color: var(--color-btn-green);
    color: var(--color-white);
    border: 2px solid var(--color-white);
}

.btn-db-conn:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    border: 2px solid var(--color-btn-green);
}

.btn-db-err {
    margin-left: 5px;
    background-color: var(--color-btn-red);
    color: var(--color-white);
    border: 2px solid var(--color-white);
}

.btn-db-err:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    border: 2px solid var(--color-btn-red);
}

.ui-datepicker-trigger {
    padding: 0 3px;
    -webkit-transform: translateX(5%) translateY(35%) scale(1.25);
    -ms-transform: translateX(5%) translateY(35%) scale(1.25);
    transform: translateX(5%) translateY(35%) scale(1.25);
}

.ui-datepicker-trigger:hover { cursor: pointer; }

#required, .required { opacity: 0; }

.error {
    width: 270px;
    margin: 0 auto;
    background-color: var(--color-bg-error);
    color: var(--color-error);
    border-radius: 10px;
    padding: 10px 5px;
    -webkit-box-shadow: var(--box-shadow-buy-tix);
    box-shadow: var(--box-shadow-buy-tix);
    -webkit-transition: var(--trans-error);
    -o-transition: var(--trans-error);
    transition: var(--trans-error);
}

/* MEDIA QUERIE(S) ********************************************************** */
@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        /* TODO: switch to flex */
        display: grid;
        /* grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr; */
    }

    .logo {
        margin: auto;
        grid-column: 2 / 3;
    }

    nav {
        /* all: unset; ... Edge -> unsupported */

        /* Edge support */
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support */

        grid-column: 3 / 4;
        display: flex;
        /* justify-content: flex-end; */
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: "";
        display: block;
        height: 5px;
        /* background: rgba(66, 136, 98, 1); */
        background: var(--a-hover-before);
        position: absolute;
        top: -0.5em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}
